---
import { Image } from 'astro:assets';
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogHero from '../components/BlogHero.astro'

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
  				border-top: 1px solid #DDD;
					margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Header slim />
		<main>
			<article class="article">
				
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	.article {
		max-width: var(--content-max-width);
		margin: 0 auto;
		padding-inline: var(--h-space);
	}

	body:has(.article) {
		font-size: 1rem;
	}

	@media only screen and (min-width: 992px) {
		body:has(.article) {
			font-size: 1.1rem;
		}
	}

	@media only screen and (min-width: 1200px) {
		body:has(.article) {
			font-size: 1.2rem;
		}
	}
</style>
