---
import classNames from 'classnames';
import Text from '../../Text.astro';
import type { Education } from './Resume';
import Spacer from './Spacer.astro';
import type { Props as SpacerProps } from './Spacer.astro';

export interface Props extends Omit<SpacerProps, 'slot'>, Education {}

const { as = 'article', degree, institution, location, year, className, ...rest } = Astro.props;
const classes = classNames('education-experience', className);
---

<Spacer class={classes} {...rest} as={as}>
  <Text as="h4" class="title">
    {institution}
    <div class="meta" data-meta>
      {location && <>{`${location} `}</>}
      {
        year && (
          <Text small muted data-year>
            ({year})
          </Text>
        )
      }
    </div>
  </Text>
  {degree && <p data-degree>{degree}</p>}
</Spacer>

<style>
  .education-experience {
    break-inside: avoid;
  }

  .title {
    font-weight: var(--font-body-weight-bold);
    margin-block-end: 0.25rem;
  }

  .meta {
    font-weight: var(--font-body-weight-medium);
  }
</style>
