---
import classNames from 'classnames';
import Text from '../../Text.astro';
import PlainList from '../../PlainList.astro';
import type { RelatedExperience } from './Resume';
import Spacer from './Spacer.astro';
import type { Props as SpacerProps } from './Spacer.astro';

export interface Props extends Omit<SpacerProps, 'slot' | 'title' | 'role'>, RelatedExperience {}

const { as = 'article', class: className, title, meta, role, website, accomplishments, ...rest } = Astro.props;
const classes = classNames('experience', className);
const years = role.yearFrom && role.yearTo ? `${role.yearFrom} — ${role.yearTo}` : role.yearFrom;
---

<Spacer class={classes} {...rest} as={as}>
  <hgroup>
    <Text as="h4" data-title class="title">
      <span class="title-content" data-title-content set:html={title}></span>{' '}
      {
        years && (
          <Text small muted>
            ({years})
          </Text>
        )
      }
    </Text>
    {
      meta && (
        <Text small as="p" data-meta class="meta">
          {meta}
        </Text>
      )
    }
    <Text as="h5" data-role-title class="role">
      {role.title}
    </Text>
    {
      website && (
        <a href={website.url} class="website">
          {website.url}
        </a>
      )
    }
  </hgroup>
  {
    accomplishments.length > 0 && (
      <div>
        <PlainList>
          {accomplishments.map((accomplishment) => (
            <li>{accomplishment}</li>
          ))}
        </PlainList>
      </div>
    )
  }
</Spacer>
<style>
  .experience:not(:last-of-type) {
    page-break-before: left;
  }

  .title {
    margin-block-end: 0.125rem;
  }

  .title-content {
    font-weight: var(--font-header-weight-bold);
  }

  .meta {
    margin-block-end: 0;
  }

  .role {
    color: var(--color-brand);
    margin-block-end: 0.5rem;
  }

  .website {
    display: block;
    margin-block-end: 0.5rem;
  }
</style>
