---
import classNames from 'classnames';
import H from '../../H.astro';
import Text from '../../Text.astro';

export interface Props extends Omit<astroHTML.JSX.BaseHTMLAttributes, 'slot'> {
  as?: keyof HTMLElementTagNameMap;
  ownerName: string;
  ownerTitle: string;
  lead: string;
  email?: string;
  phone?: string;
  websiteUrl?: string;
}

const {
  as: Element = 'hgroup',
  ownerName,
  ownerTitle,
  lead,
  email,
  phone,
  websiteUrl,
  class: className,
  ...rest
} = Astro.props;
const classes = classNames('header', className);
const websiteHost = websiteUrl ? new URL(websiteUrl).hostname : '';
const nameClasses = classNames('name', { 'with-contact': Boolean(email) || Boolean(phone) || Boolean(websiteUrl) });
---

<Element class={classes} {...rest}>
  <H level={4} as="h3" class={nameClasses}>
    {ownerName}
    {
      email || phone ? (
        <div class="contact">
          {email ? (
            <Text as="a" href={`mailto:${email}`}>
              {email}
            </Text>
          ) : null}
          {phone ? (
            <Text as="a" href={`tel:${phone}`}>
              {phone}
            </Text>
          ) : null}
          {websiteUrl ? (
            <Text as="a" href={websiteUrl}>
              {websiteHost}
            </Text>
          ) : null}
        </div>
      ) : null
    }
  </H>
  <H level={6} as="h4" class="title">{ownerTitle}</H>
  <p>{lead}</p>
</Element>

<style>
  .header {
    background: linear-gradient(90deg, rgba(78, 0, 94, 0.95) 14%, rgba(19, 52, 185, 0.95) 100%);
    background: linear-gradient(to right in oklab, rgb(30% 0% 36% / 95%) 0%, rgb(7% 20% 72% / 95%) 100%);
    color: #fff;
    padding: var(--resume-v-gap) var(--resume-h-gap);
    margin-inline-start: calc(var(--resume-h-gap) * -1);
    margin-inline-end: calc(var(--resume-h-gap) * -1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  }

  .name {
    margin-bottom: 0;
  }

  .name:where(.with-contact) {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  a {
    color: var(--color-bg);
  }

  .title {
    margin-bottom: 0.25rem;
    color: var(--color-brand-invert);
  }

  .contact {
    display: grid;
    text-align: end;
  }

  .contact a:link {
    text-decoration: none;
  }

  .contact a:is(:hover, :active) {
    text-decoration: underline;
  }
</style>
