---
import Text from '../../Text.astro';
import PlainList from '../../PlainList.astro';
import type { Talk } from './Resume';
import Timeline from './Timeline.astro';
import Spacer from './Spacer.astro';

export interface Props extends Omit<astroHTML.JSX.BaseHTMLAttributes, 'slot' | 'title'> {
  talks: Talk[];
}

const { talks, ...rest } = Astro.props;
---

<PlainList spacing="none" {...rest}>
  {
    talks.map((talk) => {
      const composedTitle = talk.year ? (
        <>
          {talk.title}
          {'  '}
          <Timeline>{talk.year}</Timeline>
        </>
      ) : (
        talk.title
      );
      return (
        <Spacer size="small" as="li" class="talk">
          <Text as="h4" class="title">
            {talk.url ? <a href={talk.url}>{composedTitle}</a> : talk.title}
          </Text>
          {talk.description}
        </Spacer>
      );
    })
  }
</PlainList>
<style>
  .title {
    margin-block-end: 0.5rem;
  }

  .talk {
    break-inside: avoid;
  }
</style>
